body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 0px;
    text-decoration: underline;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 50px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 50px;
}

@media (max-width: 768px) {
    .sidebar {
        height: auto;
        padding: 60px;
        text-align: center;
    }
}

.side-button {
    padding: 3px 0;
}

.side-button a {
    color: black;
    font-size: large;
}

.sidebar h2 {
    text-align: center;
}

label {
    margin: 10px 0 0 0;
    font-size: medium;
}

[type="submit"] {
    margin: 20px 0;
}

.entry-list {
    padding: 10px 30px;
    margin-top: 10px;
}

.edit {
    margin-top: 30px;
}